body{
    width: 99%;
    height: 100%;
    font-family: 'Abel', sans-serif;
}

.content{
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
}

#header{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.headImg{
    display:inline-block;
    margin: 0 10%;
}

#menu{
    text-align: center;
    background-color: #f1f1f1;
    height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}
.sticky + .content {
    padding-top: 70px;
}
.menuLinks{
    text-decoration: none;
    color: black;
    margin: 0 2vw;
    padding-top:20px;
    font-size: 20px;
    display:inline-block;
}
#scoreBoard{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: inline;
    position: absolute;
    right:2vw;
    padding-top: 10px;
}
.scores{
    display: inline;
}

.distributionFigure{
    width: 70%;
    margin: auto;
}
.plots{
    width: 70%;
    margin: auto;  
    height: 35vw;
}

/* Slideshow container */
.plot-container {
    position: relative;
    margin: auto;
}


/* Dropdown Button */
.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    padding-bottom: 17px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: -10px;
    font-size: 12px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  .tooltiptext::before {
    content: "";
    position: absolute;
    top:-10%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f1f1f1 transparent;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* blockquotes */
  blockquote {
    background: #eee;
    border-radius: 5px;
    margin-left: 0%;
    margin-right: 43%;
  }

  blockquote p {
    padding: 15px;
  }

  blockquote p::before {
    content: '\201C';
  }

  blockquote p::after {
    content: '\201D';
  }

  /* tables */
  .parent-table-container {
    display: flex;
    justify-content: center;
  }

  .table-container {
    display: inline-block;
    background: #eee;
    padding: 25px;
    border-radius: 5px;
  }

  table {
      text-align: left;
      border-collapse: collapse;
  }

  table thead th {
      border-bottom: 1px solid black;
  }

  table td {
    padding-right:20px;
  }

  .table-caption {
      text-align: center;
  }

  /*dsitribution for snacks*/
  .distribution-div {
      display: inline-block;
  }

  .distribution-fig {
      float: left;
      margin: auto;
      width: 45vw;
      padding-right: 10px;
  }

  .distribution-description {
      width: 95%;
  }

  .snacks-nutri-fig {
      width: 45vw;
      margin: auto;
  }

  /*dropdown for nutriments*/
  .nutri-dropdown .dropbtn {
    font-size: 20px;
    margin-bottom: 5px;
    border: 1px; 
    border-radius: 5px;
    outline: none;
    background-color:  #f1f1f1;
    font-family: inherit;
    min-width: 150px;
    margin: 0;
    cursor: pointer;
}
  .nutri-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-nutri {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 12px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content-nutri a {
    float: none;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }

    /* Change color of dropdown links on hover */
    .dropdown-content-nutri a:hover {background-color: #ddd;}
  
    /* Show the dropdown menu on hover */
    .nutri-dropdown:hover .dropdown-content-nutri {display: block;}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  /*Parralax round image */
  .parralax {
    /* The image used */
    background-image: url("../img/round.png");

    /* Set a specific height */
    min-height: 350px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 #round1{
    background-image: url("../img/round1.png");
  }
  #round2{
    background-image: url("../img/round2.png");
  }
  #round3{
    background-image: url("../img/round3.png");
  }
  #round4{
    background-image: url("../img/round4.png");
  }
  #round5{
    background-image: url("../img/round5.png");
  }
  #roundGoal{
    background-image: url("../img/roundGoal.png");
  }



